<div class="wrapper">
    <div class="card">
        <div class="card-body">
            <div class="left-panel">
                <div class="left-side-data">
                    <img [src]="base64Image" alt="Globe Icon">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="">Name: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.name}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">SkywalkerBorn: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.birth_year}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Gender: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.gender}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Height: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.height}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Weight: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.mass}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Created At: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.created}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Edited At: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.edited}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Hair color: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.hair_color}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Eye color: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.eye_color}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Skin color: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">{{peopleDetails?.skin_color}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Panet Name: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">Tatooine</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Species: </label>
                    </div>
                    <div class="col-md-6">
                        <div class="value">Human</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side-content">
        <div class="card">
            <div class="card-body">
                <div class="close-button">
                    <button class="btn" (click)="onClose()">Close</button>
                </div>
                <div class="film-section same-style-section">
                    <div class="content">
                        <h5>Films</h5>
                    </div>

                    <div class="card" *ngFor="let film of films">
                        <div class="card-body">
                            <div class="label-value"> <label for="">Title:</label>  <strong>{{film?.title}}</strong> </div>
                           <div class="label-value"> <label for="">Producer:</label>  <strong>{{film?.producer}}</strong> </div>
                           <div class="label-value"> <label for="">Director:</label>  <strong>{{film?.director}}</strong> </div>
                           <div class="label-value"> <label for="">Release Date:</label>  <strong>{{film?.release_date}}</strong> </div>
                        </div>
                    </div>
                </div>

                <div class="vehicle-section same-style-section">
                    <div class="content">
                        <h5>Vehicles</h5>
                    </div>

                    <div class="card" *ngFor="let vehicle of vehicleList">
                        <div class="card-body">
                            <div class="label-value"> <label for="">Name:</label>  <strong>{{vehicle?.name}}</strong> </div>
                            <div class="label-value"> <label for="">Model:</label>  <strong>{{vehicle?.model}}</strong> </div>
                            <div class="label-value"> <label for="">Max atmosphering speed:</label>  <strong>{{vehicle?.max_atmosphering_speed}}</strong> </div>
                            <div class="label-value"> <label for="">Passengers:</label>  <strong>{{vehicle?.passengers}}</strong> </div>
                            <div class="label-value"> <label for="">Vehicle class:</label>  <strong>{{vehicle?.vehicle_class}}</strong> </div>
                            <div class="label-value"> <label for="">Manufacturer:</label>  <strong>{{vehicle?.manufacturer}}</strong> </div>
                            <div class="label-value"> <label for="">Cargo_capacity:</label>  <strong>{{vehicle?.cargo_capacity}}</strong> </div>
                        </div>
                    </div>
                </div>

                <div class="starships-section same-style-section">
                    <div class="content">
                        <h5>Starships</h5>
                    </div>

                    <div class="card" *ngFor="let starShip of starsipList">
                        <div class="card-body">
                            <div class="label-value"> <label for="">Name:</label>  <strong>{{starShip?.name}}</strong> </div>
                            <div class="label-value"> <label for="">Model:</label>  <strong>{{starShip?.model}}</strong> </div>
                            <div class="label-value"> <label for="">Starship class:</label>  <strong>{{starShip?.starship_class}}</strong> </div>
                            <div class="label-value"> <label for="">Hyperdrive rating:</label>  <strong>{{starShip?.hyperdrive_rating}}</strong> </div>
                            <div class="label-value"> <label for="">Crew:</label>  <strong>{{starShip?.crew}}</strong> </div>
                            <div class="label-value"> <label for="">Consumables:</label>  <strong>{{starShip?.consumables}}</strong> </div>
                            <div class="label-value"> <label for="">MGLT:</label>  <strong>{{starShip?.MGLT}}</strong> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>