.wrapper {
    padding: 3rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    column-gap: 2rem;

    .filter-panel {
        .filter-label {
            margin-top: 0;
            color: #008060;
            text-align: center;
        }

        .search-content {
            padding: 1rem;
        }

        search-button {
            padding: 10px;
            background-color: #008060;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            flex-direction: column;
        }
    }

    .character-list {
        .content {
            padding-bottom: 2rem;
            color: #008060;
            small {
                color: gray;
            }
        }
        .table-content {
            .character-header {
                display: grid;
                grid-template-columns: 4rem 1fr 0.5fr 0.5fr;
                column-gap: 1rem;
                padding: 1rem;

                .character-item {
                    font-weight: 600;
                }
            }

            .data-row {
                background-color: #ebeaea;
                border: 2px solid white;

                .row-item:nth-child(2) {
                    cursor: pointer;
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: flex-end;
            padding-top: 0.5rem;
        }
    }
}
