<div class="wrapper">
    <div class="card">
        <div class="card-body">
            <div class="filter-panel">
                <div class="filter-label">
                    <strong>FILTERS</strong>
                </div>

                <div class="search-content">
                    <select class="form-select" aria-label="Default select example">
                        <ng-container *ngFor="let movie of movieList">
                            <option value="1">{{movie?.title}}</option>
                        </ng-container>
                        
            
                    </select>
                </div>

                <div class="search-content">
                    <select class="form-select" aria-label="Default select example">
                        <ng-container *ngFor="let species of speciesList">
                            <option value="1">{{species?.name}}</option>
                        </ng-container>
                    </select>
                </div>

                <div class="search-content">
                    <select class="form-select" aria-label="Default select example">
                       
                        <ng-container *ngFor="let vehicles of vehicleList">
                            <option value="1">{{vehicles?.name}}</option>
                        </ng-container>
        
                    </select>

                </div>

                <div class="search-content">
                    <select class="form-select" aria-label="Default select example">
                        <ng-container *ngFor="let starships of starShipsList">
                            <option value="1">{{starships?.name}}</option>
                        </ng-container>
                    </select>
                </div>

                <div class="search-content">
                    <!--Using items input-->

                        <ng-select [items]="birthYearList" 
                           
                            appendTo="body"
                        >
                        </ng-select>


                  
                </div>

                <div class="search-button">
                    <button class="btn btn-success" type="button">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
    <div class="character-list">
        <div class="card">
            <div class="card-body">
                <div class="content">
                    <h5>SEARCH RESULTS</h5>
                    <small>(By default this table will have all data)</small>
                </div>

                <div class="table-content">
                    <div class="character-header">
                        <div class="character-item">Sl No.</div>
                        <div class="character-item">Character Name</div>
                        <div class="character-item">Species</div>
                        <div class="character-item">Birth Year</div>
                    </div>

                    <div class="data-row character-header" *ngFor="let character of characterList; index as i">
                        <div class="row-item">
                            {{i+1}}
                        </div>
                        <div class="row-item" (click)="showFilmDetails(character)">
                            {{character.name}}
                        </div>
                        <div class="row-item">
                            {{character.species}}
                        </div>
                        <div class="row-item">
                            {{character.birth_year}}
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>

    </div>
</div>