<div class="wrapper">
    <div class="filter-section">
        <div class="filter-panel">
            <h3>FILTERS</h3>
            <label for="movieName">Movie Name</label>
            <select id="movieName">
                <option value="">Select a movie</option>
                <!-- Add movie options here -->
            </select>
        
            <label for="species">Species</label>
            <select id="species">
                <option value="">Select a species</option>
                <!-- Add species options here -->
            </select>
        
            <label for="vehicle">Vehicle</label>
            <select id="vehicle">
                <option value="">Select a vehicle</option>
                <!-- Add vehicle options here -->
            </select>
        
            <label for="starShips">Star Ships</label>
            <select id="starShips">
                <option value="">Select a star ship</option>
                <!-- Add star ships options here -->
            </select>
        
            <label for="birthYear">Birth Year</label>
            <div id="birthYear">
                <div class="checkbox">
                    <input type="checkbox" id="all" name="birthYear" value="all">
                    <label for="all">ALL</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="bbd20" name="birthYear" value="bbd20">
                    <label for="bbd20">BBD20</label>
                </div>
            </div>
        
            <button type="button">SEARCH</button>
        </div>
    </div>
    <div class="character-list">
        <div class="card">
            <div class="card-body">
                <div class="content">
                    <h5>SEARCH RESULTS</h5>
                    <small>(By default this table will have all data)</small>
                </div>
        
                <div class="table-content">
                    <div class="character-header">
                        <div class="character-item">Sl No.</div>
                        <div class="character-item">Character Name</div>
                        <div class="character-item">Species</div>
                        <div class="character-item">Birth Year</div>
                    </div>
                    <div class="data-row character-header">
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                    </div>
                    <div class="data-row character-header">
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                    </div>
                    <div class="data-row character-header">
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                        <div class="row-item">
                            akshay
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
