<div class="wrapper">
    <form [formGroup]="filterItemForm">
        <div class="card">
            <div class="card-body">
                <div class="filter-panel">
                    <div class="filter-label">
                        <strong>FILTERS</strong>
                    </div>

                    <div class="search-content">
                        <ng-select [items]="movieList" bindLabel="title" appendTo="body" formControlName="movieName">
                        </ng-select>
                    </div>

                    <div class="search-content">

                        <ng-select [items]="speciesList" bindLabel="name" appendTo="body" formControlName="speciedName">
                        </ng-select>
                    </div>

                    <div class="search-content">

                        <ng-select [items]="vehicleList" bindLabel="name" appendTo="body" formControlName="vehicleName">
                        </ng-select>
                    </div>

                    <div class="search-content">
                        <ng-select [items]="starShipsList" bindLabel="name" appendTo="body"
                            formControlName="starShipName">
                        </ng-select>
                    </div>

                    <div class="search-content">
                        <ng-select [items]="birthYearList" bindLabel="birth_year" appendTo="body"
                            formControlName="birthYear" (clear)="clearBirthYear()">
                        </ng-select>
                    </div>

                    <div class="search-button">
                        <button class="btn" type="button" (click)="filterData()">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="character-list">
        <div class="card">
            <div class="card-body">
                <div class="content">
                    <h5>SEARCH RESULTS</h5>
                    <small>(By default this table will have all data)</small>
                </div>

                <div class="table-content">
                    <div class="character-header">
                        <div class="character-item">Sl No.</div>
                        <div class="character-item">Character Name</div>
                        <div class="character-item">Species</div>
                        <div class="character-item">Birth Year</div>
                    </div>

                    <div class="data-row character-header" *ngFor="let character of characterList; index as i">
                        <div class="row-item">
                            {{i+1}}
                        </div>
                        <div class="row-item" (click)="showFilmDetails(character)">
                            {{character.name}}
                        </div>
                        <div class="row-item">
                            {{character.species}}
                        </div>
                        <div class="row-item">
                            {{character.birth_year}}
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <button class="page-link" href="#" aria-label="Previous" (click)="previousClick()"
                                    [disabled]="disablePrevButton">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                            </li>

                            <li class="page-item">
                                <button class="page-link" href="#" aria-label="Next" (click)="nextClick()"
                                    [disabled]="disableNextButton">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>